<!DOCTYPE html>
<html lang="es">

	<head>
		<title>Sibila Search</title>
		{% include 'layout/head/meta.html' %}

	</head>

	<body>
		hola
		<ul class="fa-ul">Jira</ul>
    <ul class="fa-ul">Mysql</ul>
		<ul class="fa-ul">LDAP</ul>
		<ul class="fa-ul">Openshift</ul>
		<ul class="fa-ul">Github</ul>
		<ul class="fa-ul">Github</ul>
		

		<div class="col-sm-3">
			<div class="card h-100">
				<img class="card-img-top img-responsive"
						 width="10px"  height= "200px" >
				<ul class="fa-ul">
				</ul>
			</div>
		</div>

	</body>
</html>
